<% layout('master_layout') -%>
<main>
    <section id="timeline" class="cd-container">
		<% if(typeof result != "undefined"){ %>
			<% for(var i=0; i< result.length; i++) { %>
				<div class="timeline-block post-hidden">
					<% if (result[i].type == 'image'){
					%>
					<div class="timeline-img cd-standard is-hidden">									
						<span class="typcn typcn-pencil"></span>			
					</div>
					<% } else if (result[i].type == 'video') {%>
					<div class="timeline-img cd-video is-hidden">									
						<span class="typcn typcn-video"></span>			
					</div>	
					<% } else{ %>
					<div class="timeline-img cd-image is-hidden">									
						<span class="typcn typcn-image"></span>			
					</div>	
					<% } %>
					<div class="timeline-content is-hidden">
						<div class="loader">
							<div class="spinner">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
							</div>										
						</div>
						<% if (result[i].type == 'image'){	%>
						<div class="post-player">
							<img src="<%= result[i].featureImage %>" alt="" style="width:100%">
						</div>
						<% }else if (result[i].type == 'other'){	%>
							<div class="post-player">
								<img src="<%= result[i].featureImage %>" alt="" style="width:100%">
							</div>				
						<%	
						} else{
							%>
						<a href="#" class="post-link" data-id="<%= result[i]._id %>" data-permalink="/post/<%= result[i]._id %>" data-title="Sunset">
							<div class="post-player fuel-embed vimeo widescreen"><%- result[i].featureVideo %></div>
						</a> 
							<%
						}%> 
						
						<div class="post-info">
							<a href="#" class="info-likes" data-id="<%= result[i]._id %>"><i class="fa fa-heart"></i> <span>24</span></a>
							<a href="#" class="post-link info-comments" data-permalink="/post/<%= result[i]._id %>" data-title="Sunset" data-id="34"><i class="fa fa-comment"></i> <span>1</span></a>										
							<div class="share atbe-share">
								<span class="fa fa-share-alt"></span>
								<div data-share-url="/post/<%= result[i]._id %>" data-share-title="Sunset" data-share-media="" data-share-excerpt="" class="atbe-share-box">
									<div class="share-facebook fa fa-facebook"></div>
									<div class="share-twitter fa fa-twitter"></div>
									<div class="share-google-plus fa fa-google-plus"></div>
									<div class="share-pinterest fa fa-pinterest"></div>
								</div>
							</div>
						</div>
						<a href="/post/<%= result[i]._id %>" class="post-link" data-id="<%= result[i]._id %>" data-permalink="/post/<%= result[i]._id %>" data-title="Sunset">
							<h2><%= result[i].title %></h2>
						</a>
						<a href="#" class="post-link" data-id="<%= result[i]._id %>" data-permalink="/post/<%= result[i]._id %>" data-title="Sunset">
							<div class="post-timeline-font">
								<p><%= result[i].content %></p>
										
							</div>
						</a>
						<div class="clear"></div>			
						<div class="post-details">
							<strong>Categories</strong>: <%= result[i].emotion %>			
						</div>

						<span class="cd-date"><%= result[i].time %></span>
					</div>	
				</div>
			<% } %>
		<% } %> 
        
        					
    </section>					
</main>
<a href="#0" class="post-button-close"><img src="http://demo.fuelpixels.com/tempo/wp-content/themes/tempo/img/close.svg" alt=""></a>
	
<div class="post-panel"></div>